.App {
    min-height: 100vh;
    background-color: #282c34;
    padding: 16px;
}

.App-header {
    display: flex;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-form {
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-form .row {
    width: 100%;
    margin: 4px;
    display: flex;
    justify-content: space-between;
}

.App-form .changingInputs {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.App-form label {
    margin-right: 8px;
    flex: 1;
}

.App-form input {
    flex: 1;
}

.App-form pre {
    width: 100%;
}

.App-form button {
    align-self: flex-end;
    padding-left: calc(10px + 2vmin);
    padding-right: calc(10px + 2vmin);
    font-size: calc(10px + 2vmin);
}

.App pre {
    font-size: calc(10px + 2vmin);
    color: white;
}
